/* GLOBAL STYLES, OMG ! */
:root {
  --body-color: #3e3d40;
  --serif: Georgia, "Times New Roman", Times, serif;
  --heading-family: "Open Sans";
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  overflow: hidden;

  font-size: 1rem;
  line-height: 1.55;
  font-family: var(--serif);
  font-weight: 300;
  color: var(--body-color);
}

h1 {
  font-size: 3.583rem !important;
  line-height: 4.4796rem !important;
  font-weight: 600;
}

h2 {
  font-size: 2.074rem !important;
  line-height: 2.592rem !important;
  margin-top: 2.986rem !important;
  font-weight: 600;
}

h3 {
  font-size: 1.44rem !important;
  line-height: 1.8rem !important;
  margin-top: 2.074rem !important;
  font-weight: 600;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
}

:global .phenomic-HeadingAnchor {
  position: relative;
  left: 1rem;
  opacity: 0;
  transition: opacity 0.2s;

  @nest :--headings:hover & {
    opacity: 1;
  }
}

blockquote {
  margin: 0;
  padding: 1rem 2rem;
  background-color: #eee;
}

hr {
  -webkit-margin-before: 4rem !important;
  -webkit-margin-after: 2rem !important;
  margin-top: 4rem !important;
  margin-bottom: 2rem !important;
}

:--headings {
  font-family: var(--heading-family);
  color: #020202;
}

@font-face {
  font-family: 'octicons';
  src: url('../fonts/octicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:global .octicon,
:global .mega-octicon {
  font-family: octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  left: -1rem;
}

:global .mega-octicon { font-size: 32px; }

:global .octicon-link::before { content: '\f05c'; }

:global .octicon-three-bars::before { content: '\f05e'; }

mark {
  margin-bottom: 24px;
  margin-right: 10px;
  background-color: rgba(204, 203, 117, 0.5) !important;

  &::after {
    content: " ➞ ";
  }
}

figcaption,
figure p,
:global(table.list) {
  font-size: 0.833rem;
  color: #626262;
  font-family: "Hind";
}

figure {
  width: 100%;
  display: block;
  margin: 0 !important;
  img {
    display: block;
    margin: 1rem auto;
  }
}

:global(table.list) {
  width: 100%;
  tr {
    width: 100%;
    td {
      vertical-align: top;
      padding-bottom: 1rem;
      &:first-child {
        width: 75px !important;
        max-width: 75px !important;
        img {
          width: 50px;
          height: 50px;
          border-radius: 25px;
        }
      }
      &:nth-child(2) {
        max-width: 375px !important;
      }
      &:last-child {
        min-width: 200px !important;
      }
    }
  }
}
