:root {
  --heading-family: "Open Sans";
}

.identity {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-right: calc(1rem + 6px);
  text-decoration: none;
}

.logo {
  width: 3rem;
  height: 3rem;
  flex-grow: 0;
  margin-right: 0.5rem;
  svg {
    width: 3rem;
    height: 3rem;
    circle {
      stroke-width: 1.5px;
    }
  }
}

.title {
  flex-grow: 1;
  font-weight: 600;
  font-family: var(--heading-family);
  text-transform: uppercase;
  font-size: calc(1rem / 1.2);
  line-height: 1.2;
  color: black;
}

.header {
  /* background-color: rgb(88, 88, 88); */
}
