.Container {
  display: flex !important;
  flex-direction: row;
  height: 100vh;
  align-items: stretch;
}

.ColumnOne {
  flex-grow: 0;
  height: 100%;
}

.ColumnTwo {
  flex-grow: 1;
  height: 100%;
}

.ColumnOne > div[style] {
  width: 21rem !important;
}

.SideNav {
  lost-column: 1/1;
}

.SideNav ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.PageContainer {
  lost-utility: clearfix;
  lost-center: 65rem;
  height: 100vh;
  margin: auto;
}

@lost gutter 40px;

.MainContent {
  lost-column: 3/4;
}

.MarginContent {
  lost-column: 1/4;
}

@media screen and (max-width: 1000px) {
  .SideNav {
    lost-column: 4/16 2;
  }
  .MainContent {
    lost-column: 12/16 2;
  }
  .MarginContent {
    visibility: hidden;
    display: none;
    lost-column: 0/16 0;
  }
}

@media screen and (max-width: 700px) {
  .SideNav {
    lost-column: 1/1;
  }
  .MainContent {
    lost-column: 1/1;
  }
}

:global .also p {
  margin-left: 1rem;
}

:global .pure-menu-children {
  display: block !important;
  position: inherit !important;
}

:global(.pure-menu-heading .pure-menu-item) {
  text-transform: none !important;
}

.SideNav :global .pure-menu-link {
  white-space: normal !important;
}

.SideNav :global .pure-form {
  padding: 0.5rem 1rem 0;
}

.SideNav :global .pure-form button {
  margin-left: 0.25rem;
}
