.footer {
  margin-top: 7rem;
  padding: 1rem 1rem 3rem;
  text-align: center;
  font-family: "Hind";
  font-size: 0.833rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.reference {
  font-weight: 100;
}
